# =========================
# Common Ignore Rules
# =========================

# Mac/Windows system files
.DS_Store
Thumbs.db

# =========================
# Custom Exclusions
# =========================
# Exclude the documents folder
documents/

# Exclude assets (such as large 3D models)
**/assets/

# =========================
# .NET / Backend
# =========================
[Oo]bj/
[Bb]in/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# =========================
# Angular / Frontend
# =========================
node_modules/
dist/
.angular/
.npm/
 coverage/
*.log
